body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
  }
  
  .floating-box {
    width: 300px;
    padding: 20px;
    background-color: var(--box-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .poll-floating-box {
    width: 500px;
    padding: 20px;
    background-color: var(--box-background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  :root {
    --body-background-color: #ffffff;
    --box-background-color: #f0f0f0;
    --border-color: #ccc;
    --text-color: #000;
  }
  
  [data-theme='dark'] {
    --body-background-color: #222222;
    --box-background-color: #333;
    --border-color: #444;
    --text-color: #fff;
  }
  
  body {
    background-color: var(--body-background-color);
    color: var(--text-color);
  }